.start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .start-title {
    font-size: 3.5em;
    color: #eee7e7;
    border: 2px solid #ecfa00;
    border-radius: 10px;
    padding: 10px;
  }
  
  .start-description {
    margin-bottom: 2em;
    color: #ecfa00;
    border: 2px solid #ecfa00;
    border-radius: 10px;
    padding: 10px;
  }
  
  .start-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ecfa00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  